@use "../abstracts/variables" as vars;

.service {
  color: vars.$gray;
  margin-bottom: 2rem;

  &-heading {
    color: vars.$black-text;
    font-size: 1rem;
    font-weight: 600;
  }
  &-item {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-bottom: 2rem;
  }
  &-icon {
    border: 1px solid vars.$red;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 9.5rem;
    height: 9.5rem;
    flex-shrink: 0;
  }
  &-img {
    width: 90px;
    height: 90px;
  }
}
